[Unit]
Description=Wolf
After=network.target
[Service]
User=root
Environment=Display=:0
Environment=XAUTHORITY/home/pi/.Xauthority
ExecStart=/usr/bin/python3 /opt/wolf/run_api.py
Restart=always
[Install]
WantedBy=multi-user.target