{% extends "base.html" %}

{% block content %}
<div id="content" class="container-fluid">
    <!-- Page Heading -->
    {% if not new %}
    {% if not member %}
    <div class="card shadow mb-4">
        <a href="#select" class="d-block card-header py-3" data-toggle="collapse"
           role="button" aria-expanded="true" aria-controls="select">
            <h4 class="m-0 font-weight-bold text-secondary">Wolf - EirLab Community </h4>
        </a>
        <div class="collapse show card-body mb-4" id="welcome">
            <!--            <div class="row">-->
            <p class="mt-2">Cette application permet de : </p>
            <ul class="list-group list-group-flush">
                <a href="/" class="list-group-item list-group-item-action">Obtenir les informations d'un adhérent à
                    partir de sa carte étudiante /
                    professionnelle
                </a>
                <a href="/" class="list-group-item list-group-item-action">Relier un adhérent à sa carte étudiante /
                    professionnelle</a>
                <a href="/formations" class="list-group-item list-group-item-action">Ajouter de nouvelles formations
                    à un adhérent</a>
                <!--                    <li class="list-group-item disabled">Gérer les emprunts de matériel</li>-->
                <!--                    <li class="list-group-item disabled">Gérer les arrivages de matériel</li>-->
            </ul>
            <!--            </div>-->
            <p class="text-warning mt-2">Cette application est développée par les Fabmanager d'EirLab Community
                depuis le
                12
                juillet 2022. Merci de remonter les différents bugs repérés et de ne pas exploiter les potentielles
                failles. </p>
        </div>
    </div>
    {% endif %}
    {% endif %}

    <div class="card shadow mb-4">
        <a href="#select" class="d-block card-header py-3" data-toggle="collapse"
           role="button" aria-expanded="true" aria-controls="select">
            <h6 class="m-0 font-weight-bold text-secondary">Scanner adhérent</h6>
        </a>
        <div class="collapse show card-body mb-4" id="select">
            <!--            <div class="row">-->
            <form action="/member/scan" method="GET">
                <p class="font-italic mt-2" id="animate">Appuyez sur le bouton scanner puis poser votre carte sur le
                    lecteur</p>
                <button type="submit" class="form-control btn btn-secondary">Scanner</button>
            </form>
            {% if status %}
            <form action="/" method="GET">
                <button type="submit" class="form-control btn btn-danger mt-2">Quitter</button>
            </form>
            <p class="font-weight-bold mt-2">{{ status }}</p>
            {% endif %}

            <!--            </div>-->
        </div>
    </div>

    {% if new %}
    <div class="card shadow mb-4">
        <a href="#select" class="d-block card-header py-3" data-toggle="collapse"
           role="button" aria-expanded="true" aria-controls="select">
            <h6 class="m-0 font-weight-bold text-secondary">Adhérent inconnu</h6>
        </a>
        <div class="collapse show card-body mb-4" id="inconnu">
            <div class="row">
                <div class="col m-2">
                    <p class="font-italic mt-2">Remplissez les informations ci dessous</p>
                    <form action="/member/new_link" method="POST">
                        <div class="form-group">
                            <label for="lastname">Nom</label>
                            <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Nom"
                                   required>
                        </div>
                        <div class="form-group">
                            <label for="firstname">Prénom</label>
                            <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Prénom"
                                   required>
                        </div>
                        <button type="submit" class="form-control btn btn-secondary">Rechercher</button>
                    </form>
                </div>
                <div class="col m-2">
                    {% if unknow %}
                    <h4 class="font-weight-bold text-danger mt-2">Non trouvé</h4>
                    <p class="mt-2"> Oups ! {{ lastname }} {{ firstname }} n'est pas un adhérent d'EirLab
                        Community, vérifiez les informations et le cas échant rendez vous sur <a
                                href="https://www.helloasso.com/associations/eirlab-community/adhesions/adherer-a-eirlab-le-fablab-associatif-de-bordeaux-inp/">
                            adherer.eirlab.net</a> pour faire partie de l'association</p>
                    <p class="font-italic small mt-2">Si vous êtes sûr que c'est bien un adhérent d'EirLab Community,
                        n'hésitez pas à demander à un administrateur</p>
                    {% endif %}
                    {% if to_link %}
                    <h4 class="font-weight-bold text-warning mt-2">Adhérent trouvé et non lié</h4>
                    <p class="mt-2">{{ lastname }} {{ firstname }} est un adhérent d'EirLab Community </p>
                    <p class="mt-2 text-danger">Un administrateur d'EirLab Community est nécessaire pour confirmer
                        l'opération</p>

                    <p class="mt-2"> Appuyez sur le bouton confirmer et posez la carte d'un administrateur d'EirLab
                        Community</p>

                    <form action="/member/confirm_link" method="GET">
                        <button type="submit" class="form-control btn btn-secondary">Confirmer</button>
                    </form>
                    {% endif %}
                    {% if already_link %}
                    <h4 class="font-weight-bold text-success mt-2">Adhérent trouvé et lié</h4>
                    <p class="mt-2">La carte de {{ lastname }} {{ firstname }} est déjà liée</p>
                    <p class="font-italic small mt-2">Si vous devez changer votre carte, demandez à un
                        administrateur</p>
                    {% endif %}
                    {% if success %}
                    <h4 class="font-weight-bold text-success mt-2">Adhérent lié</h4>
                    <p class="mt-2">{{ lastname }} {{ firstname }} est maintenant lié à votre carte</p>
                    {% endif %}
                    {% if error %}
                    <h4 class="font-weight-bold text-danger mt-2">Erreur</h4>
                    <p class="mt-2"> Oups ! L'administrateur n'a pas été reconnu </p>
                    {% endif %}
                </div>


            </div>
        </div>
    </div>
    {% endif %}

    {% if member %}
    <div class="card shadow mb-4">
        <a href="#select" class="d-block card-header py-3" data-toggle="collapse"
           role="button" aria-expanded="true" aria-controls="select">
            <h6 class="m-0 font-weight-bold text-secondary">Fiche adhérent</h6>
            {% if member.expired %}
            <h2 class="font-weight-bold text-danger mt-2">Adhésion Expirée</h2>
            {% endif %}
        </a>
        <div class="collapse show card-body mb-4" id="fiche">
            <div class="row">
                <div class="col m-2">
                    <ul class="list-group">
                        <h3 class="font-weight-bold mt-2">{{ member.lastname }} {{ member.firstname }}</h3>
                        <p class="mt-2"><a href="mailto:{{ member.email }}"> {{ member.email }}</a></p>
                        <p class="mt-2">Validité de l'adhésion : {{ member.datec }} - {{ member.datem }}</p>
                        <p class="mt-2">{{ member.type }}</p>
                    </ul>
                </div>

                <div class="col m-2">
                    <h4 class="font-weight-bold mt-2"> Formations </h4>
                    {% for formation in member.formations %}
                    <img src="{{ member.formations[formation].image }}"
                         class="img-fluid rounded-circle mt-2"
                         alt="Imprimante">
                    {% endfor %}
                    {% for formation in member.no_formations %}
                    <img src="{{ member.no_formations[formation].image_black }}"
                         class="img-fluid rounded-circle mt-2"
                         alt="Imprimante">
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}

</div>
{% endblock %}

