<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-secondary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon">
            <i class="fab fa-wolf-pack-battalion"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Wolf</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/">
            <i class="fa fa-user"></i>
            <span>Adhérents</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Photos -->
    <li class="nav-item active">
        <a class="nav-link" href="/formations">
            <i class="fas fa-chalkboard-teacher"></i>
            <span>Formations</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Photos -->
    <li class="nav-item active">
        <a class="nav-link" href="/stock">
            <i class="fas fa-box"></i>
            <span>Stocks</span></a>
    </li>

    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Photos -->
    <li class="nav-item active">
        <a class="nav-link" href="/emprunt">
            <i class="fas fa-box-open"></i>
            <span>Emprunts</span></a>
    </li>

    <!--    &lt;!&ndash; Divider &ndash;&gt;-->
    <!--    <hr class="sidebar-divider my-0">-->

    <!--    &lt;!&ndash; Nav Item - Photos &ndash;&gt;-->
    <!--    <li class="nav-item active">-->
    <!--        <a class="nav-link" href="/stream">-->
    <!--            <i class="fas fa-tv"></i>-->
    <!--            <span>Emprunts</span></a>-->
    <!--    </li>-->

    <!-- Divider -->
    <hr class="sidebar-divider m-0">

    <li class="nav-item active">
        <a class="nav-link" href="https://gestion.eirlab.net/public/ticket/create_ticket.php?subject=[WOLF]-"
           target="_blank">
            <i class="fas fa-bug"></i>
            <span>Signaler un bug</span></a>
    </li>

    <hr class="sidebar-divider m-0">

    <li class="nav-item active">
        <div class="nav-link">
            <i class="fas fa-arrow-right"></i>
            <span>Connexion à dolibarr</span>
        </div>
        <div class="sidebar-brand-text mx-3">
            <form action="/login" id="login" method="POST" style="display: none">
                <div class="form-group sidebar-brand-text mt-3">
                    <label>
                        <input class="form-control" id="login" name="login" placeholder="login" type="text">
                    </label>
                    <label>
                        <input class="form-control" id="password" name="password" placeholder="password"
                               type="password">
                    </label>
                    <button class="btn btn-primary btn-block" type="submit">Connexion</button>
                </div>
            </form>
            <form action="/logout" id="logout" method="GET" style="display: none">
                <div class="nav-link">
                    <span class="text-white" id="log_name"></span>
                </div>
                <button class="btn btn-primary btn-block" type="submit">Déconnexion</button>
            </form>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider m-0">

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">


    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
<!-- End of Sidebar -->

<script src="/static/socket.io/socket.io.js"></script>
<script>
    var socket = io.connect('http://' + document.domain + ':' + location.port + "/login");
    console.log(document.domain);
    if (document.domain === "127.0.1.1") {
        var fabamanager = document.getElementsByClassName("fabmanager")
        for (var i = 0; i < fabamanager.length; i++) {
            fabamanager[i].style.display = "block";
        }
        var scanbutton = document.getElementsByClassName("scan-button")
        for (var i = 0; i < scanbutton.length; i++) {
            scanbutton[i].disabled = false;
        }
    }
    socket.on('connect', function () {
        console.log("Connected");
    });
    socket.on('login', function (msg) {
        console.log(msg);
        if (msg['ip'] === document.domain && document.domain !== "127.0.1.1") {
            document.getElementById("login").style.display = "none";
            document.getElementById("logout").style.display = "block";
            document.getElementById("log_name").innerHTML = "Connecté en tant que " + msg['login'];
        } else{
            document.getElementById("login").style.display = "block";
            document.getElementById("logout").style.display = "none";
        }
    });
</script>
